/* Navbar.css */

nav {
    background-color: #272343; /* First Color */
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff; /* Second Color */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Increased transition duration */
  }
  
  nav a:hover {
    background-color: #e3f6f5; /* Third Color */
    color: #272343; /* First Color for text */
  }
  
  nav a:active {
    background-color: #bae8e8; /* Fourth Color */
    color: #272343; /* First Color for text */
  }
  
  nav a:focus {
    outline: none;
    box-shadow: 0 0 5px #ffffff; /* Second Color */
  }
  
  nav a + a {
    margin-left: 1rem;
  }
  